*{
    font-family: "Nunito Sans";
}

body {
    background: #00ff95;
}


.home a {
    text-decoration: none;
    color: #002e06;
}

nav {
    background: #5c9475;
    height: 65px;
    width: 77%;
}

nav a {
    text-decoration: none;
    color: #000;
    transition-duration: 400ms;
}

nav :nth-child(n):hover {
    transition-duration: 400ms;
    transform: translate(0.2rem, 1%);
}

h1 {
    font-family: "Nunito Sans";
    font-size: 2rem;
    font-weight: 800;
}

.nav__container {
    margin: auto;
    align-items: center;
    justify-content: space-around;
    display: flex;
    border-radius: 12px;
    margin-top: 0.5rem;
    border: 2px solid #000;

}

.icon_nav {
    width: 24px;
    height: 24px;
}

.quantidade {
    font-family: "Nunito Sans";
    font-weight: 800;
    display: none;
    position: absolute;
    left: 77%;
    top: 25px;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #000;
    background-color: #5c9475;
}

.quantidade p {
    text-align: center;
}